<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnail">
                <img src="{{ url_for('origin_video_feed') }}">
              </div>
        </div>
      </div>
    </div>
  </body>
</html>