<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>KU-TEAM-8</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>

  <body>
    <div class="header">
      <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand">TEAM 8 : OPENCV 영상 라이브러리를 이용한 대중교통에서의 군중 인원수 집계</a>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12 col-xs-12">
            <div class="col-md-6 col-xs-12">
              <h3>객체 분리 이미지</h3>
              <div class="thumbnail">
                <iframe width="100%" height="450px" src="{{ url_for('video') }}" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <h3>원본 이미지</h3>
              <div class="thumbnail">
                <iframe width="100%" height="450px" src="{{ url_for('originvideo') }}" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3>수집 정보</h3>
                  </div> 
                  <div class="panel-body">
                    <div id="ajaxReturn"></div>
                    <canvas id="chart" height="150"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3>채팅창</h3>
                  </div>
                  <div class="panel-body">
                    <iframe width="100%" height="500" src="http://125.209.199.219/chat/websocket.html" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- row end -->
      </div> <!-- container end -->
    </div> <!-- content end -->

    <div class="footer"></div>

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="{{url_for('static', filename='test.js')}}"></script>
  </body>
</html>