@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@font-face{
font-family:'NanumBarunGothic';
src:url("../fonts/NanumBarunGothic.eot");
/*src:local("☺"),url("../fonts/NanumBarunGothic.woff") format("woff");*/
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "NanumBarunGothic",  sans-serif;
  padding-top: 60px;
  position: relative;
  /*width: 100%;
  margin: 0%; */
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #000047;
  border: none;
}

.navbar-header .navbar-brand {
  color: #c19c72;
}

#mainNavbarMenuCollapse a {
  color: #FFFFFF;
}

.navbar-nav > .active > a,  .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: #c19c72 !important;
      text-decoration: none;
      background-color: transparent !important;
 }

header {
  color: #ffffff;
  text-align: center;
  background-color: #000047;
  background-size: cover;
  padding: 40px 0;
}

header h1 {
  color: #c19c72;
}

header p {
  color: #FFFFFF;
}

.panel.panel-default > .panel-heading {
  background-color: #000047;
  color: #c19c72;
  border: none;

  height: 50px;
}

.panel.panel-default > .panel-heading > h3 {
  color: #c19c72;
  margin: 3px;
}

.input-group > .green{
  background-color: #5cb85c;
  color: #ffffff;
}

.input-group > .yellow{
  background-color: #f0ad4e;
  color: #ffffff;
}

.input-group > .red{
  background-color: #d9534f;
  color: #ffffff;
}