<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>OZ-Lion System</title>

    <!-- 부트스트랩 -->
    <link href="http://web.codev.kr/moiija/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://web.codev.kr/moiija/css/main.css">

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="thumbnail">
                <img src="{{ url_for('video_feed') }}">
              </div>
            </div> 
            <div class="col-sm-6"> 
              <div class="thumbnail">
                <img src="http://web.codev.kr/moiija/images/ozlion1.png" alt="dabins_traser">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="thumbnail">
              <h3>채팅창</h3>
              <iframe width="100%" height="295px" src="http://codev.kr:8000" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row">
            <div class="thumbnail">
              <h3>수집 정보</h3>
              <p>인원수 : 0명</p>
              <p>혼잡도 : 0%</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="http://web.codev.kr/moiija/js/bootstrap.min.js"></script>
    <script src="http://web.codev.kr/moiija/js/function.js" type="text/javascript"></script>
  </body>
</html>